In [1]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [11]:
l=["Harry","Potter","Tom","Jerry","Bob","Tweety"]
print(type(l))
print(l)
s=pd.Series(l)
print(type(s))
print(s)
print(s[0]) # indexing
print(s[::-1]) # slicing

<class 'list'>
['Harry', 'Potter', 'Tom', 'Jerry', 'Bob', 'Tweety']
<class 'pandas.core.series.Series'>
0     Harry
1    Potter
2       Tom
3     Jerry
4       Bob
5    Tweety
dtype: object
5    Tweety
4       Bob
3     Jerry
2       Tom
1    Potter
0     Harry
dtype: object

In [21]:
s=pd.Series(l,index=["a","b","c","d","e","f"])
print(s)
print(s["a"])
print(s[0])

a     Harry
b    Potter
c       Tom
d     Jerry
e       Bob
f    Tweety
dtype: object
Harry
Harry

In [23]:
d={
    "a":"Harry",
    "b":"Potter",
    "c":"Tom",
    "d":"Jerry"
}
s=pd.Series(d)
print(s)

a     Harry
b    Potter
c       Tom
d     Jerry
dtype: object

In [33]:
l=[["Harry",18,"A"],["Potter",19,"A"],["Jerry",12,"B"],["Tom",11,"B"]]
df=pd.DataFrame(l,columns=["Name","Marks","Grade"])
print(df)

     Name  Marks Grade
0   Harry     18     A
1  Potter     19     A
2   Jerry     12     B
3     Tom     11     B

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Marks   4 non-null      int64
 2   Grade   4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

In [41]:
df=pd.DataFrame(["Harry",42,[1,2,3]])
print(df)
df.info()

           0
0      Harry
1         42
2  [1, 2, 3]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      object
dtypes: object(1)
memory usage: 156.0+ bytes

In [43]:
df=pd.DataFrame(["Harry",42,[1,2,3]],dtype="string")
print(df)
df.info()

           0
0      Harry
1         42
2  [1, 2, 3]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      string
dtypes: string(1)
memory usage: 156.0 bytes

In [47]:
'''
l=[["Harry",18,"A"],["Potter",19,"A"],["Jerry",12,"B"],["Tom",11,"B"]]
df=pd.DataFrame(l,columns=["Name","Marks","Grade"])
'''
d={"Name":["Harry","Potter","Jerry","Tom"],
   "Marks":[18,19,12,11],
   "Grade":["A","A","B","B"]
  }
df=pd.DataFrame(d)
print(df)

     Name  Marks Grade
0   Harry     18     A
1  Potter     19     A
2   Jerry     12     B
3     Tom     11     B

In [55]:
n=np.random.randn(10,4)
df=pd.DataFrame(n,columns=["A","B","C","D"])
print(df)
df.to_csv("dummy_DataFrame.csv")

          A         B         C         D
0  0.154232  2.049855 -0.906757  1.131925
1  1.389821 -0.127063 -0.731374  0.520313
2 -0.150403  0.958804  1.483263 -0.344691
3  1.023086  1.530487  0.817190 -1.124033
4  0.256493  0.739108 -0.189309  1.573036
5 -0.826242 -1.389505  1.508380 -0.241795
6 -1.829424 -0.793356  0.324706 -0.695202
7 -1.079958  1.644342 -0.061109  0.565191
8 -1.576157 -0.072028  0.464525  1.950609
9  0.442336 -0.594438  0.685739  0.156117